@import "color.css";

.wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: minmax(50px,auto);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.box {
  border: 5px solid ;
  border-radius: 5px;
  bbackground-color: var(--main-color);
  text-align: center;
}
.image_box{
  margin-top: 10px ;
  height: auto;
  width: 100px;
}