
.header{
  display: block;
  width: 100px;
  height: 100px;
  background-color: red;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-auto-rows: minmax(50px,auto);
  grid-row-gap: 8px;
}
.box {
  border: 5px solid ;
  border-radius: 5px;
  background-color: red;
  text-align: center;
}
.image_box{
  margin-top: 10px ;
  height: auto;
  width: 100px;
}